{% extends 'base.html' %}

{% block title %}
    <title>Company Overview</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ company_detail.name }}</h1>
            <p>{{ company_detail.description }}</p>
            <h2>Projects</h2>
            <table>
                {% if company_detail %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Creator</th>
                            <th>Description</th>
                            <th>Employee</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in company_detail.project.all %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" company.id %}">{{ company.name }}</a>
                                </td>
                                <td>{{ company.owner }}</td>
                                <td>{{ company.description }}</td>
                                {% for employ in all_employee.all %}
                                    <td>
                                        <a href="{% url "employee_profile" company.id %}">{{ employ.name }}</a>
                                    </td>
                                {% endfor %}
                                <td>{{ company.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This Company has no projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
