{% extends 'base.html' %}

{% block title %}
    <title>Employee Overview</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>Name</h1>
            <p>{{ employee_profile.name }}</p>
            <h2>Employee ID</h2>
            <p>{{ employee_profile.employee_id }}</p>
            <h3>Position</h3>
            <p>{{ employee_profile.position }}</p>
            <h4>Department</h4>
            <p>{{ employee_profile.department }}</p>
            <h5>Phone Number</h5>
            <p>{{ employee_profile.phone_number }}</p>
        </div>
    </main>
{% endblock content %}
