{% extends "base.html" %}

{% block title %}
    <title>Companies</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>Companies</h1>
            <table>
                {% if show_companies %}
                    <tr>
                        <th>Name</th>
                        <th>Number of projects</th>
                    </tr>
                </thead>
                <tbody>
                    {% for companies in show_companies %}
                        <tr>
                            <td>
                                <a href="{% url "company_detail" companies.id %}">{{ companies.name }}</a>
                            </td>
                            <td>{{ companies.project.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Come On Companies We Are FREE To Use</p>
        {% endif %}
    </div>
</main>
{% endblock content %}
