{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/alpha.css' %}">
        <style>
            body {
                background-image: url(https://www.hdwallpapers.in/download/solar_system_colorful_digital_art_4k_hd_abstract-3840x2160.jpg);
                background-repeat:no-repeat;
                background-position:100% 100%;
                background-size: 100% 100%;
                background-attachment: fixed;
            }
        </style>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        Hello, {{ user.username }}
                        <li>
                            <a href="{% url "home" %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url "show_my_tasks" %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url "list_projects" %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url "logout" %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url "create_company" %}">Create Company</a>
                        </li>
                        <li>
                            <a href="{% url "create_employee" %}">Create Employee</a>
                        </li>
                        <li>
                            <a href="{% url "show_companies" %}">Companies</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url "login" %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Sign up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>
