{% extends 'base.html' %}

{% block title %}
    <title>Create Task</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="task-form">
            <h1 class="title">Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ task_form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
