{% extends "base.html" %}

{% block title %}
    <title>My Tasks</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            <table>
                {% if show_my_tasks.all %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Notes</th>
                            <th>Assigned</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tasks in show_my_tasks.all %}
                            <tr>
                                <td>
                                    <a href="{% url "edit_task" tasks.id %}">{{ tasks.name }}</a>
                                </td>
                                <td>{{ tasks.start_date }}</td>
                                <td>{{ tasks.due_date }}</td>
                                <td>{{ tasks.notes }}</td>
                                <td>{{ tasks.employee.name }}</td>
                                <td>{{ tasks.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
