{% extends 'base.html' %}

{% block title %}
  My Tasks!
{% endblock title %}
{% block content %}
  <main class="task-form">
    <h1 class="title">Edit Tasks</h1>
    <form method="post">
      {% csrf_token %}
      {{ edit_form.as_p }}
      <button>Save</button>
    </form>
  </main>
{% endblock content %}
