{% extends 'base.html' %}

{% block title %}
  My Project!
{% endblock title %}
{% block content %}
  <main class="project-form">
    <h1 class="title">Edit Project</h1>
    <form method="post">
      {% csrf_token %}
      {{ edit_form.as_p }}
      <button>Save</button>
    </form>
  </main>
{% endblock content %}
