{% extends "base.html" %}

{% block title %}
    <title>Projects</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p>
                <a href="{% url "create_project" %}">Create Project</a>
            </p>
            <table>
                {% if list_projects %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projects in list_projects.all %}
                            <tr>
                                <td>
                                    <a href="{% url "show_project" projects.id %}">{{ projects.name }}</a>
                                </td>
                                <td>{{ projects.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
