{% extends 'base.html' %}

{% block title %}
    <title>My Project</title>
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description }}</p>
            {% for project in show_project.projects.all %}<p>{{ project.name }}</p>{% endfor %}
            <p>
                <a href="{% url "edit_project" show_project.id %}">Edit Project</a>
            </p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            <table>
                {% if show_project %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Creator</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Notes</th>
                            <th>Employee</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for projects in show_project.tasks.all %}
                            <tr>
                                <td>
                                    <a href="{% url "edit_task" projects.id %}">{{ projects.name }}</a>
                                </td>
                                <td>{{ projects.creator }}</td>
                                <td>{{ projects.start_date }}</td>
                                <td>{{ projects.due_date }}</td>
                                <td>{{ projects.notes }}</td>
                                <td>{{ projects.employee.name }}</td>
                                <td>{{ projects.is_completed|yesno }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
